@{
    ViewData["Title"] = "Registreren";
}

<div class="registrerenForm">
    <div class="row">
        <div class="formRegistreren">
            <h1 class="formH1Text">Registreren</h1>
            <form method="post" class="formClassStyle">

                <div class="row formInput">
                    <div class="col-sm-4">
                        Naam:
                    </div>
                    <div class="col-sm-4">
                        <input type="text" />
                    </div>
                </div>
                <div class="row  formInput">
                    <div class="col-sm-4">
                        TelefoonNr:
                    </div>

                    <div class="col-sm-4">
                        <input type="text" />
                    </div>
                </div>

                <div class="row  formInput">
                    <div class="col-sm-4">
                        Gebruikersnaam:
                    </div>

                    <div class="col-sm-4">
                        <input type="text" />
                    </div>
                </div>

                <div class="row  formInput">
                    <div class="col-sm-4">
                        Wachtwoord:
                    </div>

                    <div class="col-sm-4">
                        <input type="text" />
                    </div>
                </div>




                <div class="row  formInput">
                    <div class="col-lg-1">
                        <input type="submit" value="Bevestig" />
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>
