@{
    ViewData["Title"] = "Reserveren";
}
<div class="reserverenPage">
    
        <div class="row">
            <div class="formReserveren">
                <h1 class="formH1Text">Reserveren</h1>
                <form method="post" class="formClassStyle">
                    <div class="row formInput">
                        <div class="col-sm-4">
                            Naam:
                        </div>
                        <div class="col-sm-4">
                            <input type="text"/>
                        </div>
                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">
                            Datum:
                        </div>

                        <div class="col-sm-4">
                            <input type="date"/>
                        </div>
                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">
                            TelefoonNr:
                        </div>

                        <div class="col-sm-4">
                            <input type="text" />
                        </div>

                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">
                            Aantal personen:
                        </div>

                        <div class="col-sm-1">
                            <input type="number" style="width:50px" />
                        </div>
                       
                    </div>
                    <div class="row  formInput">
                        <div class="col-sm-4">Opmerkingen:</div>

                        <div class="col-sm-4"><input type="text" style="height:100px" /></div>


                    </div>  
                    <div class="row  formInput" >
                        <div class="col-lg-1">
                            <input type="submit" value="Bevestig"/>
                        </div>
                        
                    </div>


                </form>
            </div>
        </div>


    
</div>